@import url(https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
	font-size: 2em;
}

.info-icon {
	font-size: .5em;

}

.fa {
	position: relative;
	display: table-cell;
	width: 40px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	text-shadow: 0px 1px 1px rgba(19, 19, 19, 0.75);
}


.main-menu[state='expanded'],
nav.main-menu.expanded {
	width: 230px;
	/* overflow: visible; */
}

.main-menu {
	background: rgba(45, 50, 59, .95);
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgba(0, 0, 0, 0.27);
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	min-height: 400px;
	left: 0;
	width: 40px;
	overflow: hidden;
	-webkit-transition: width 175ms cubic-bezier(0.000, 0.975, 0.000, 0.985);
	-moz-transition: width 175ms cubic-bezier(0.000, 0.975, 0.000, 0.985);
	-o-transition: width 175ms cubic-bezier(0.000, 0.975, 0.000, 0.985);
	transition: width 175ms cubic-bezier(0.000, 0.975, 0.000, 0.985);
	/* custom */
	/* custom */
	z-index: 1;
	ul{
		margin: 7px 0;

	}
	ul.menu-button-list-bottom {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	li{
		position: relative;
		display: block;
		width: 230px;
		span.button{
			position: relative;
			display: table;
			border-collapse: collapse;
			border-spacing: 0;
			color: #bbbbbb;
			font-family: arial;
			font-size: 14px;
			text-decoration: none;
			-webkit-transition: all 175ms cubic-bezier(0.000, 0.975, 0.000, 0.985);
			-moz-transition: all 175ms cubic-bezier(0.000, 0.975, 0.000, 0.985);
			-o-transition: all 175ms cubic-bezier(0.000, 0.975, 0.000, 0.985);
			transition: all 175ms cubic-bezier(0.000, 0.975, 0.000, 0.985);
			/* custom */
			/* custom */
		}
		span.button:hover{
				color: #d6dae1;
		}
	}
	.nav-text{
		position: relative;
		display: table-cell;
		vertical-align: middle;
		width: 190px;
		font-family: 'Titillium Web', sans-serif;
	}
.nav-icon {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}
}


.no-touch .scrollable.hover {
	overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
	overflow-y: auto;
	overflow: visible;
}

span.button:hover,
span.button:focus {
	text-decoration: none;
}

span.button:hover{
	cursor: pointer;
	// background: rgba(255,255,255,0.03);
	color: #d6dae1;
}

nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

nav ul,
nav li {
	outline: 0;
	margin: 0;
	padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
	color: #bbbbbb;
	background-color: rgb(49, 56, 68);
}

.area {
	float: left;
	background: #e2e2e2;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 300;
	src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.hidden {
	display: none;

}

hr.menu-seperator {
	border-style: solid none solid none;
	border-width: .5px;
	border-right: none;
	color: rgba(125, 125, 125, 0.361);
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

}

.paused-text {
	position: fixed;
	z-index: 2;
	right: 45vw;
	font-family: "Titillium Web", sans-serif;
}

.info {
	position: fixed;
	right: 0;
	width: 200px;
	height: 100vh;
	background: rgba(45, 50, 59, .95);
	z-index: 3;
	border-left: 1px solid #e5e5e5;



}

.info-container {

	padding: 1em;
}

.info-header {
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;
	color: #bbbbbb;
	text-align: center;
}

.info-input-container {
	margin-top: 5px;
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;
	color: #bbbbbb;
}

.info-input-row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 2px;
}

.info-input-row,
.info-input-row-label,
.info-input-row-input {

	font-family: 'Titillium Web', sans-serif;
	color: #bbbbbb;
}

.info-input-row-label {

	display: grid;
	grid-column-start: 1;
	grid-column-end: 2;
}

.info-input-row-input {

	background: rgba(255, 255, 255, .1);
	border: none;
	grid-column-start: 2;
	grid-column-end: 3;
}
